extends layout

block content
  if !auth
    a(href="login") Sign in
    span  or 
    a(href="login/register") Register
  if auth
    a(href="logout") Sign out
  h1 Main page
  each val in articles
      div(class="item")
        a(href="article/#{val._id}")
            h2 #{val.title}
        if val.picture
            image(height="100px" src="./images/#{val.picture}")
        div(class="content") #{val.content}
        div(class="author") #{val.author}
        div(class="date") #{val.date}
  if auth
    a(href="/newArticle") Add article
